{% extends "admin/master.html.twig" %}

{% block title %}Internal Error{% endblock %}

{% block content %}

    <p>Internal error occured. Our team of Coding Ninjas has been notified.</p>

    <p><a href="/">Click here</a> to continue.</p>

{% endblock %}