{% extends "admin/master.html.twig" %}

{% block title %}Admin main page{% endblock %}

{% block head %}

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% endblock %}

{% block content %}

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-6 border border-light shadow-lg p-3 mb-5 bg-body rounded">
   
        <div id="piechart" style="width:500px; height: 400px;"></div>
      </div>
      <div class="col-lg-6 border border-light shadow-lg p-3 mb-5 bg-body rounded">
        <div id="columnchart" style="width: 550px; height: 400px;"></div>
      </div>
    </div>
  </div>

    {# pieChart #}

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data=[];
        var Header= ['Model', 'Count'];
        data.push(Header);

        {% for m in modelCuontList %}
          var temp =[];
            temp.push('{{m.model}}');
            temp.push({{m.count}});
            data.push(temp);
        {% endfor %}

        var data = google.visualization.arrayToDataTable(data);        
        var options = {
          title: 'Cars Model',
          is3D: true,
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>

    {# Column Chart  #}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data=[];
        var Header= ['Address', 'Availabe Cars', { role: 'style' }];
        data.push(Header);

        {% for v in vehiclesCount %}
          var temp =[];
            temp.push('{{v.address}}');
            temp.push({{v.count}});
            temp.push('fill-color: #28a745; fill-opacity: 0.7');
            data.push(temp);
        {% endfor %}
        var data = google.visualization.arrayToDataTable(data);
        var options = {
          title: 'Cars number in Location',
          legend: {position: 'bottom', textStyle: {color: '#28a745', fontSize: 16}},
          colors: ['#28a745'],
          bar: { groupWidth: '45%' },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
        chart.draw(data, options);
      }
    </script>

{% endblock %}
{% block foot %}


{% endblock %}