{% extends "master.html.twig" %}

{% block title %}Access Denied{% endblock %}

{% block content %}
    <p>Access denied</p>
    <p>Access denied. You must be logged in with a proper account.
        <a href="/">Click to continue</a>.</p>
{% endblock %}