{% extends "master.html.twig" %}

{% block title %}Rent a Car{% endblock title %}
{% block content %}
<div class="row bg-success mb-1 mt-5 p-1 bordered text-warning">
    <div class="col-md-12 col-sm-12 text-center bg-success p-3 align-self-center">
        <h1>{{ messages['paysuccess']}}</h1>
        <h2><a href="http://milescarrental.ipd24.ca">{{ messages['backtohome']}}</a></h2>
    </div>
</div>
{% endblock content %}